{% extends "_base/page" %}

{% set character = craft.entries({
    section: 'characters',
    uid: uid
}).one() %}

{% set isAuthor = false %}
{% if currentUser['id'] is defined and character.authorId == currentUser['id'] %}
    {% set isAuthor = true %}
{% endif %}

{% import "_macros" as inputs %}

{% set campaign = craft.entries({
    section: 'campaigns',
    relatedTo: character
}).one() %}

{% block content %}
    <article class="block w-full px-1">
        {% if not isAuthor %}
            <div class="block w-full mb-2 mx-auto" style="max-width: 1200px;">
                <a href="{{ siteUrl|trim('/') }}/campaign/{{ campaign.uid }}" class="button -outline -alt">
                    <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="arrow-left" class="svg-inline--fa fa-arrow-left fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M229.9 473.899l19.799-19.799c4.686-4.686 4.686-12.284 0-16.971L94.569 282H436c6.627 0 12-5.373 12-12v-28c0-6.627-5.373-12-12-12H94.569l155.13-155.13c4.686-4.686 4.686-12.284 0-16.971L229.9 38.101c-4.686-4.686-12.284-4.686-16.971 0L3.515 247.515c-4.686 4.686-4.686 12.284 0 16.971L212.929 473.9c4.686 4.686 12.284 4.686 16.971-.001z"></path></svg>
                    <span>Back to campaign</span>
                </a>
            </div>
        {% endif %}
        <character-sheet eager-load-css="character-sheet snackbar" web-component loading="eager" data-character-uid="{{ character.uid }}" {% if isAuthor %}data-campaign-uid="{{ campaign.uid ?? null }}" data-character-name="{{ character.title }}"{% else %}data-prevent-save="true"{% endif %}>
            <nav grid="rows 1 gap-0.5">
                <div>
                    <input type="radio" name="navigation" {{ slug is defined and slug == 'overview' or slug is not defined ? 'checked' }} id="nav-overview" value="0" data-slug="overview" />
                    <label for="nav-overview">Overview</label>
                </div>
                <div>
                    <input type="radio" name="navigation" id="nav-health" value="1" data-slug="health" {{ slug is defined and slug == 'health' ? 'checked' }} />
                    <label for="nav-health">Health</label>
                </div>
                <div>
                    <input type="radio" name="navigation" id="nav-abilities" value="2" data-slug="abilities" {{ slug is defined and slug == 'abilities' ? 'checked' }} />
                    <label for="nav-abilities">Abilities & Skills</label>
                </div>
                <div>
                    <input type="radio" name="navigation" id="nav-saving-throw" value="3" data-slug="saving-throws" {{ slug is defined and slug == 'saving-throws' ? 'checked' }} />
                    <label for="nav-saving-throw">Saving Throws</label>
                </div>
                <div>
                    <input type="radio" name="navigation" id="nav-equipment" value="4" data-slug="equipment" {{ slug is defined and slug == 'equipment' ? 'checked' }} />
                    <label for="nav-equipment">Equipment</label>
                </div>
                <div>
                    <input type="radio" name="navigation" id="nav-lore" value="5" data-slug="lore" {{ slug is defined and slug == 'lore' ? 'checked' }} />
                    <label for="nav-lore">Appearance & Lore</label>
                </div>
                <div>
                    <input type="radio" name="navigation" id="nav-spells" value="6" data-slug="spells" {{ slug is defined and slug == 'spells' ? 'checked' }} />
                    <label for="nav-spells">Spellbook</label>
                </div>
                {% if isAuthor %}
                    <button id="save-button" class="button -solid -primary mt-1">Save Character</button>
                {% endif %}
            </nav>
            <form class="bg-white shadow-md p-2 mb-auto" style="border-radius: 0.25rem;">                
                {% if isAuthor %}
                    {{ csrfInput() }}
                    {{ hiddenInput('entryId', character.id) }}
                {% endif %}

                <form-page class="w-full" id="overview" style="display: {{ slug is defined and slug == 'overview' or slug is not defined ? 'grid' : 'none' }};grid-template-rows: 1fr; gap: 2rem;">

                    {{ inputs.text("Character Name", "title", true, null, character.title) }}

                    <div grid="columns 3 gap-2">
                        {{ inputs.text("Class", "fields[class]", false, null, character.class) }}
                        {{ inputs.text("Race", "fields[race]", false, null, character.race) }}
                        {{ inputs.select("Alignment", "fields[alignment]", false, data.alignments, null, character.alignment) }}
                    </div>

                    <level-component web-component loading="eager" grid="columns 3 gap-2">
                        {{ inputs.number("Experience Points", "fields[exp]", false, null, 0, null, 1, character.exp) }}
                        {{ inputs.number("Level", "fields[charLevel]", false, null, 1, 20, 1, character.charLevel) }}
                        {{ inputs.number("Proficiency Bonus", "fields[proficiencyBonus]", false, null, 0, null, 1, character.proficiencyBonus) }}
                    </level-component>

                    <hr class="w-full block bb-1 bb-solid bb-neutral-200">

                    <div grid="columns 2 gap-2">
                        {{ inputs.number("Armor Class", "fields[armorClass]", false, null, null, null, 1, character.armorClass) }}
                        {{ inputs.number("Initiative", "fields[initiative]", false, null, null, null, 1, character.initiative) }}
                        {{ inputs.number("Speed", "fields[speed]", false, null, null, null, 1, character.speed) }}
                        {{ inputs.number("Inspiration", "fields[inspiration]", false, null, 0, null, 1, character.inspiration) }}
                    </div>
                    
                </form-page>

                <form-page class="w-full" id="health" style="display: {{ slug is defined and slug == 'health' ? 'grid' : 'none' }};grid-template-rows: 1fr; gap: 2rem;">
                    <div grid="columns 3 gap-2">
                        {{ inputs.number("Current Hit Points", "fields[currentHitPoints]", false, null, null, null, 1, character.currentHitPoints) }}
                        {{ inputs.number("Maximum Hit Points", "fields[maximumHitPoints]", false, null, null, null, 1, character.maximumHitPoints) }}
                        {{ inputs.number("Temporary Hit Points", "fields[temporaryHitPoints]", false, null, null, null, 1, character.temporaryHitPoints) }}
                    </div>

                    <div grid="columns 2 gap-2">
                        {{ inputs.number("Hit Dice", "fields[currentHitDice]", false, null, null, null, 1, character.currentHitDice) }}
                        {{ inputs.select("Hit Dice Type", "fields[hitDice]", false, data.dice, null, character.hitDice, false) }}
                    </div>

                    <hr class="w-full block bb-1 bb-solid bb-neutral-200">

                    <div grid="columns 2 gap-2">
                        {{ inputs.number("Successful Death Saves", "fields[successfulDeathSaves]", false, null, 0, 3, 1, character.successfulDeathSaves) }}
                        {{ inputs.number("Failed Death Saves", "fields[failedDeathSaves]", false, null, 0, 3, 1, character.failedDeathSaves) }}
                    </div>
                </form-page>

                <form-page class="w-full" id="abilities" style="display: {{ slug is defined and slug == 'abilities' ? 'grid' : 'none' }};grid-template-rows: 1fr; gap: 2rem;">
                    <character-abilities eager-load-css="character-abilities">
                        <character-ability web-component loading="eager" data-ability="strength">
                            <span>Strength</span>
                            <input class="ability" type="number"  min="1" step="1" value="{{ character.strength }}" name="fields[strength]" />
                            <input class="modifier" type="number" max="10" min="-5" step="1" value="{{ character.strengthModifier }}" name="fields[strengthModifier]" />
                        </character-ability>
                        <character-ability web-component data-ability="dexterity">
                            <span>Dexterity</span>
                            <input class="ability" type="number"  min="1" step="1" value="{{ character.dexterity }}" name="fields[dexterity]" />
                            <input class="modifier" type="number" max="10" min="-5" step="1" value="{{ character.dexterityModifier }}" name="fields[dexterityModifier]" />
                        </character-ability>
                        <character-ability web-component data-ability="constitution">
                            <span>Constitution</span>
                            <input class="ability" type="number"  min="1" step="1" value="{{ character.constitution }}" name="fields[constitution]" />
                            <input class="modifier" type="number" max="10" min="-5" step="1" value="{{ character.constitutionModifier }}" name="fields[constitutionModifier]" />
                        </character-ability>
                        <character-ability web-component data-ability="intelligence">
                            <span>Intelligence</span>
                            <input class="ability" type="number"  min="1" step="1" value="{{ character.intelligence }}" name="fields[intelligence]" />
                            <input class="modifier" type="number" max="10" min="-5" step="1" value="{{ character.intelligenceModifier }}" name="fields[intelligenceModifier]" />
                        </character-ability>
                        <character-ability web-component data-ability="wisdom">
                            <span>Wisdom</span>
                            <input class="ability" type="number"  min="1" step="1" value="{{ character.wisdom }}" name="fields[wisdom]" />
                            <input class="modifier" type="number" max="10" min="-5" step="1" value="{{ character.wisdomModifier }}" name="fields[wisdomModifier]" />
                        </character-ability>
                        <character-ability web-component data-ability="charisma">
                            <span>Charisma</span>
                            <input class="ability" type="number"  min="1" step="1" value="{{ character.charisma }}" name="fields[charisma]" />
                            <input class="modifier" type="number" max="10" min="-5" step="1" value="{{ character.charismaModifier }}" name="fields[charismaModifier]" />
                        </character-ability>
                        <character-ability web-component>
                            <span>Passive Wisdom</span>
                            <input class="ability" type="number"  min="1" step="1" value="{{ character.passiveWisdom }}" name="fields[passiveWisdom]" />
                        </character-ability>
                    </character-abilities>

                    <skill-table web-component loading="eager" eager-load-css="skill-table" grid="columns 2 gap-2">
                        <table class="block w-full text-left p-1 b-1 b-solid b-neutral-200" style="border-radius: 0.25rem;">
                            <thead class="block w-full bg-neutral-100 px-0.25" style="border-radius: 0.125rem">
                                <tr class="w-full" grid="columns 3 gap-1">
                                    <th class="font-grey-800 font-regular font-xs">Proficiency</th>
                                    <th class="font-grey-800 font-regular font-xs">Skill</th>
                                    <th class="font-grey-800 font-regular font-xs">Modifier</th>
                                </tr>
                            </thead>
                            <tbody class="block w-full">
                                {% for skill in data.skills %}
                                    {% if loop.index0 % 2 == 0 %}
                                        <tr class="w-full" grid="columns 3 gap-1">
                                            <td>
                                                <input data-skill="{{ skill.label|camel }}" id="{{ skill.label|camel }}" type="checkbox" name="fields[{{ skill.label|camel }}Proficiency]" {{ character[skill.label|camel ~ 'Proficiency'] ? 'checked' }} />
                                                <label aria-label="checkbox icon" for="{{ skill.label|camel }}"></label>
                                            </td>
                                            <td class="font-sm font-grey-700">{{ skill.label }}</td>
                                            <td>
                                                <input data-ability="{{ skill.ability }}" class="w-full" type="number" step="1" data-skill="{{ skill.label|camel }}" name="fields[{{ skill.label|camel }}]" value="{{ character[skill.label|camel] }}" />
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                        <table class="block w-full text-left p-1 b-1 b-solid b-neutral-200" style="border-radius: 0.25rem;">
                            <thead class="block w-full bg-neutral-100 px-0.25" style="border-radius: 0.125rem">
                                <tr class="w-full" grid="columns 3 gap-1">
                                    <th class="font-grey-700 font-regular font-xs">Proficiency</th>
                                    <th class="font-grey-700 font-regular font-xs">Skill</th>
                                    <th class="font-grey-700 font-regular font-xs">Modifier</th>
                                </tr>
                            </thead>
                            <tbody class="block w-full">
                                {% for skill in data.skills %}
                                    {% if loop.index0 % 2 != 0 %}
                                        <tr class="w-full" grid="columns 3 gap-1">
                                            <td>
                                                <input data-skill="{{ skill.label|camel }}" id="{{ skill.label|camel }}" type="checkbox" name="fields[{{ skill.label|camel }}Proficiency]" {{ character[skill.label|camel ~ 'Proficiency'] ? 'checked' }} />
                                                <label aria-label="checkbox icon" for="{{ skill.label|camel }}"></label>
                                            </td>
                                            <td class="font-sm font-grey-700">{{ skill.label }}</td>
                                            <td>
                                                <input data-ability="{{ skill.ability }}" data-skill="{{ skill.label|camel }}" class="w-full" type="number" step="1" name="fields[{{ skill.label|camel }}]" value="{{ character[skill.label|camel] }}" />
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </skill-table>

                    {{ inputs.textarea("Other Proficiencies", "fields[otherProficiencies]", false, null, character.otherProficiencies, 12) }}
                    {{ inputs.textarea("Features & Traits", "fields[featuresAndTraits]", false, null, character.featuresAndTraits, 12) }}
                </form-page>

                <form-page class="w-full" id="saving-throws" style="display: {{ slug is defined and slug == 'saving-throws' ? 'grid' : 'none' }};grid-template-rows: 1fr; gap: 2rem;">
                    <saving-throws web-component loading="eager" grid="columns 3 gap-2">
                        {{ inputs.number("Strength", "fields[strengthSavingThrow]", false, null, null, null, 1, character.strengthSavingThrow) }}
                        {{ inputs.number("Dexterity", "fields[dexteritySavingThrow]", false, null, null, null, 1, character.dexteritySavingThrow) }}
                        {{ inputs.number("Constitution", "fields[constitutionSavingThrow]", false, null, null, null, 1, character.constitutionSavingThrow) }}
                        {{ inputs.number("Intelligence", "fields[intelligenceSavingThrow]", false, null, null, null, 1, character.intelligenceSavingThrow) }}
                        {{ inputs.number("Wisdom", "fields[wisdomSavingThrow]", false, null, null, null, 1, character.wisdomSavingThrow) }}
                        {{ inputs.number("Charisma", "fields[charismaSavingThrow]", false, null, null, null, 1, character.charismaSavingThrow) }}
                    </saving-throws>
                </form-page>

                <form-page class="w-full" id="equipment" style="display: {{ slug is defined and slug == 'equipment' ? 'grid' : 'none' }};grid-template-rows: 1fr; gap: 2rem;">

                    {% set attacks = character.attacksAndSpells|json_decode() %}
                    <attack-component loading="eager" web-component lazy-load-css="attack-component" data-attacks="{{ character.attacksAndSpells }}">
                        <table class="w-full" style="display: {{ attacks|length ? 'block' : 'none' }};">
                            <thead class="block w-full mb-0.5">
                                <tr class="block w-full" grid="columns 3 gap-1">
                                    <th class="pl-0.25 text-left font-regular font-grey-700 font-xs">Name</th>
                                    <th class="pl-0.25 text-left font-regular font-grey-700 font-xs">Attack Bonus</th>
                                    <th class="pl-0.25 text-left font-regular font-grey-700 font-xs">Damage/Type</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for row in attacks %}
                                    <tr data-index="{{ loop.index0 }}" grid="columns 3 gap-1">
                                        <td>
                                            <input type="text" data-index="{{ loop.index0 }}" data-key="name" value="{{ row.name }}">
                                        </td>
                                        <td>
                                            <input type="text" data-index="{{ loop.index0 }}" data-key="attackBonus" value="{{ row.attackBonus }}">
                                        </td>
                                        <td>
                                            <input type="text" data-index="{{ loop.index0 }}" data-key="damageType" value="{{ row.damageType }}">
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <button type="button">
                            <i>
                                <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="plus" class="svg-inline--fa fa-plus fa-w-12" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="currentColor" d="M368 224H224V80c0-8.84-7.16-16-16-16h-32c-8.84 0-16 7.16-16 16v144H16c-8.84 0-16 7.16-16 16v32c0 8.84 7.16 16 16 16h144v144c0 8.84 7.16 16 16 16h32c8.84 0 16-7.16 16-16V288h144c8.84 0 16-7.16 16-16v-32c0-8.84-7.16-16-16-16z"></path></svg>
                            </i>
                            <span>Add Attack or Spell</span>
                        </button>
                    </attack-component>

                    <hr class="w-full block bb-1 bb-solid bb-neutral-200">

                    <div style="display: grid;gap: 2rem;grid-template-columns: repeat(auto-fit, minmax(128px, 1fr));">
                        {{ inputs.number("Copper Coins", "fields[copperCoins]", false, null, 0, null, 1, character.copperCoins) }}
                        {{ inputs.number("Silver Coins", "fields[silverCoins]", false, null, 0, null, 1, character.silverCoins) }}
                        {{ inputs.number("Electrum Coins", "fields[electrumCoins]", false, null, 0, null, 1, character.electrumCoins) }}
                        {{ inputs.number("Gold Coins", "fields[goldCoins]", false, null, 0, null, 1, character.goldCoins) }}
                        {{ inputs.number("Platinum Coins", "fields[platinumCoins]", false, null, 0, null, 1, character.platinumCoins) }}
                    </div>

                    {{ inputs.textarea("Equipment", "fields[equipment]", false, null, character.equipment, 12) }}
                </form-page>

                <form-page class="w-full" id="lore" style="display: {{ slug is defined and slug == 'lore' ? 'grid' : 'none' }};grid-template-rows: 1fr; gap: 2rem;">

                    <div grid="columns 3 gap-2">
                        {{ inputs.text("Age", "fields[age]", true, null, character.age) }}
                        {{ inputs.text("Height", "fields[height]", true, null, character.height) }}
                        {{ inputs.number("Weight", "fields[weight]", false, null, 0, null, 1, character.weight) }}
                        {{ inputs.text("Eyes", "fields[eyes]", true, null, character.eyes) }}
                        {{ inputs.text("Skin", "fields[skin]", true, null, character.skin) }}
                        {{ inputs.text("Hair", "fields[hair]", true, null, character.hair) }}
                    </div>

                    {{ inputs.textarea("Background", "fields[background]", false, null, character.background, 12) }}
                    {{ inputs.textarea("Personality Traits", "fields[personalityTraits]", false, null, character.personalityTraits) }}
                    {{ inputs.textarea("Ideals", "fields[ideals]", false, null, character.ideals) }}
                    {{ inputs.textarea("Bonds", "fields[bonds]", false, null, character.bonds) }}
                    {{ inputs.textarea("Flaws", "fields[flaws]", false, null, character.flaws) }}
                    {{ inputs.textarea("Appearance", "fields[apperance]", false, null, character.apperance, 12) }}
                    {{ inputs.textarea("Allies & Organizations", "fields[alliesAndOrganizations]", false, null, character.alliesAndOrganizations, 12) }}
                    {{ inputs.textarea("Treasure", "fields[treasure]", false, null, character.treasure) }}
                    
                </form-page>

                <form-page class="w-full" id="spells" style="display: {{ slug is defined and slug == 'spells' ? 'grid' : 'none' }};grid-template-rows: 1fr; gap: 2rem;">
                    <spellbook-component web-component loading="eager" eager-load-css="spellbook-component">
                        <spellbook-tabs>
                            <button data-index="0" type="button" class="is-active">Cantrips</button>
                            <button data-index="1" type="button">Lvl 1</button>
                            <button data-index="2" type="button">Lvl 2</button>
                            <button data-index="3" type="button">Lvl 3</button>
                            <button data-index="4" type="button">Lvl 4</button>
                            <button data-index="5" type="button">Lvl 5</button>
                            <button data-index="6" type="button">Lvl 6</button>
                            <button data-index="7" type="button">Lvl 7</button>
                            <button data-index="8" type="button">Lvl 8</button>
                            <button data-index="9" type="button">Lvl 9</button>
                        </spellbook-tabs>
                        <spellbook-page style="display: block;">
                            {% set cantrips = character.cantrips|json_decode() %}
                            <spell-component id="cantrip-spellbook" eager-load-css="spell-component" web-component loading="eager">
                                <line-items>
                                    {% for spell in cantrips %}
                                        <div class="block w-full mb-1">
                                            <input type="text" value="{{ spell }}">
                                            <button type="button" class="close">
                                                <svg style="width:12px;height:12px;" aria-hidden="true" focusable="false" data-prefix="far" data-icon="times" class="svg-inline--fa fa-times fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M207.6 256l107.72-107.72c6.23-6.23 6.23-16.34 0-22.58l-25.03-25.03c-6.23-6.23-16.34-6.23-22.58 0L160 208.4 52.28 100.68c-6.23-6.23-16.34-6.23-22.58 0L4.68 125.7c-6.23 6.23-6.23 16.34 0 22.58L112.4 256 4.68 363.72c-6.23 6.23-6.23 16.34 0 22.58l25.03 25.03c6.23 6.23 16.34 6.23 22.58 0L160 303.6l107.72 107.72c6.23 6.23 16.34 6.23 22.58 0l25.03-25.03c6.23-6.23 6.23-16.34 0-22.58L207.6 256z"></path></svg>
                                            </button>
                                        </div>
                                    {% endfor %}
                                </line-items>
                                <button class="add-spell" type="button">
                                    <i>
                                        <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="plus" class="svg-inline--fa fa-plus fa-w-12" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="currentColor" d="M368 224H224V80c0-8.84-7.16-16-16-16h-32c-8.84 0-16 7.16-16 16v144H16c-8.84 0-16 7.16-16 16v32c0 8.84 7.16 16 16 16h144v144c0 8.84 7.16 16 16 16h32c8.84 0 16-7.16 16-16V288h144c8.84 0 16-7.16 16-16v-32c0-8.84-7.16-16-16-16z"></path></svg>
                                    </i>
                                    <span>Add Cantrip</span>
                                </button>
                            </spell-component>
                        </spellbook-page>
                        <spellbook-page style="display: none;">
                            
                            <div class="w-full mb-2" grid="columns 2 gap-2">
                                {{ inputs.number("Total Level 1 Spell Slots", "fields[totalLevel1Slots]", false, null, 0, null, 1, character.totalLevel1Slots) }}
                                {{ inputs.number("Expended Level 1 Spell Slots", "fields[expendedLevel1Slots]", false, null, 0, null, 1, character.expendedLevel1Slots) }}
                            </div>

                            {% set level1Spells = character.level1Spells|json_decode() %}
                            <spell-component id="level-1-spellbook" eager-load-css="spell-component" web-component loading="eager">
                                <line-items>
                                    {% for spell in level1Spells %}
                                        <div class="block w-full mb-1">
                                            <input type="text" value="{{ spell }}">
                                            <button type="button" class="close">
                                                <svg style="width:12px;height:12px;" aria-hidden="true" focusable="false" data-prefix="far" data-icon="times" class="svg-inline--fa fa-times fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M207.6 256l107.72-107.72c6.23-6.23 6.23-16.34 0-22.58l-25.03-25.03c-6.23-6.23-16.34-6.23-22.58 0L160 208.4 52.28 100.68c-6.23-6.23-16.34-6.23-22.58 0L4.68 125.7c-6.23 6.23-6.23 16.34 0 22.58L112.4 256 4.68 363.72c-6.23 6.23-6.23 16.34 0 22.58l25.03 25.03c6.23 6.23 16.34 6.23 22.58 0L160 303.6l107.72 107.72c6.23 6.23 16.34 6.23 22.58 0l25.03-25.03c6.23-6.23 6.23-16.34 0-22.58L207.6 256z"></path></svg>
                                            </button>
                                        </div>
                                    {% endfor %}
                                </line-items>
                                <button class="add-spell" type="button">
                                    <i>
                                        <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="plus" class="svg-inline--fa fa-plus fa-w-12" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="currentColor" d="M368 224H224V80c0-8.84-7.16-16-16-16h-32c-8.84 0-16 7.16-16 16v144H16c-8.84 0-16 7.16-16 16v32c0 8.84 7.16 16 16 16h144v144c0 8.84 7.16 16 16 16h32c8.84 0 16-7.16 16-16V288h144c8.84 0 16-7.16 16-16v-32c0-8.84-7.16-16-16-16z"></path></svg>
                                    </i>
                                    <span>Add Level 1 Spell</span>
                                </button>
                            </spell-component>
                        </spellbook-page>
                        <spellbook-page style="display: none;">
                            
                            <div class="w-full mb-2" grid="columns 2 gap-2">
                                {{ inputs.number("Total Level 2 Spell Slots", "fields[totalLevel2Slots]", false, null, 0, null, 1, character.totalLevel2Slots) }}
                                {{ inputs.number("Expended Level 2 Spell Slots", "fields[expendedLevel2Slots]", false, null, 0, null, 1, character.expendedLevel2Slots) }}
                            </div>

                            {% set level2Spells = character.level2Spells|json_decode() %}
                            <spell-component id="level-2-spellbook" eager-load-css="spell-component" web-component loading="eager">
                                <line-items>
                                    {% for spell in level2Spells %}
                                        <div class="block w-full mb-1">
                                            <input type="text" value="{{ spell }}">
                                            <button type="button" class="close">
                                                <svg style="width:12px;height:12px;" aria-hidden="true" focusable="false" data-prefix="far" data-icon="times" class="svg-inline--fa fa-times fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M207.6 256l107.72-107.72c6.23-6.23 6.23-16.34 0-22.58l-25.03-25.03c-6.23-6.23-16.34-6.23-22.58 0L160 208.4 52.28 100.68c-6.23-6.23-16.34-6.23-22.58 0L4.68 125.7c-6.23 6.23-6.23 16.34 0 22.58L112.4 256 4.68 363.72c-6.23 6.23-6.23 16.34 0 22.58l25.03 25.03c6.23 6.23 16.34 6.23 22.58 0L160 303.6l107.72 107.72c6.23 6.23 16.34 6.23 22.58 0l25.03-25.03c6.23-6.23 6.23-16.34 0-22.58L207.6 256z"></path></svg>
                                            </button>
                                        </div>
                                    {% endfor %}
                                </line-items>
                                <button class="add-spell" type="button">
                                    <i>
                                        <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="plus" class="svg-inline--fa fa-plus fa-w-12" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="currentColor" d="M368 224H224V80c0-8.84-7.16-16-16-16h-32c-8.84 0-16 7.16-16 16v144H16c-8.84 0-16 7.16-16 16v32c0 8.84 7.16 16 16 16h144v144c0 8.84 7.16 16 16 16h32c8.84 0 16-7.16 16-16V288h144c8.84 0 16-7.16 16-16v-32c0-8.84-7.16-16-16-16z"></path></svg>
                                    </i>
                                    <span>Add Level 2 Spell</span>
                                </button>
                            </spell-component>
                        </spellbook-page>
                        <spellbook-page style="display: none;">

                            <div class="w-full mb-2" grid="columns 2 gap-2">
                                {{ inputs.number("Total Level 3 Spell Slots", "fields[totalLevel3Slots]", false, null, 0, null, 1, character.totalLevel3Slots) }}
                                {{ inputs.number("Expended Level 3 Spell Slots", "fields[expendedLevel3Slots]", false, null, 0, null, 1, character.expendedLevel3Slots) }}
                            </div>

                            {% set level3Spells = character.level3Spells|json_decode() %}
                            <spell-component id="level-3-spellbook" eager-load-css="spell-component" web-component loading="eager">
                                <line-items>
                                    {% for spell in level3Spells %}
                                        <div class="block w-full mb-1">
                                            <input type="text" value="{{ spell }}">
                                            <button type="button" class="close">
                                                <svg style="width:12px;height:12px;" aria-hidden="true" focusable="false" data-prefix="far" data-icon="times" class="svg-inline--fa fa-times fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M207.6 256l107.72-107.72c6.23-6.23 6.23-16.34 0-22.58l-25.03-25.03c-6.23-6.23-16.34-6.23-22.58 0L160 208.4 52.28 100.68c-6.23-6.23-16.34-6.23-22.58 0L4.68 125.7c-6.23 6.23-6.23 16.34 0 22.58L112.4 256 4.68 363.72c-6.23 6.23-6.23 16.34 0 22.58l25.03 25.03c6.23 6.23 16.34 6.23 22.58 0L160 303.6l107.72 107.72c6.23 6.23 16.34 6.23 22.58 0l25.03-25.03c6.23-6.23 6.23-16.34 0-22.58L207.6 256z"></path></svg>
                                            </button>
                                        </div>
                                    {% endfor %}
                                </line-items>
                                <button class="add-spell" type="button">
                                    <i>
                                        <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="plus" class="svg-inline--fa fa-plus fa-w-12" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="currentColor" d="M368 224H224V80c0-8.84-7.16-16-16-16h-32c-8.84 0-16 7.16-16 16v144H16c-8.84 0-16 7.16-16 16v32c0 8.84 7.16 16 16 16h144v144c0 8.84 7.16 16 16 16h32c8.84 0 16-7.16 16-16V288h144c8.84 0 16-7.16 16-16v-32c0-8.84-7.16-16-16-16z"></path></svg>
                                    </i>
                                    <span>Add Level 3 Spell</span>
                                </button>
                            </spell-component>
                        </spellbook-page>
                        <spellbook-page style="display: none;">

                            <div class="w-full mb-2" grid="columns 2 gap-2">
                                {{ inputs.number("Total Level 4 Spell Slots", "fields[totalLevel4Slots]", false, null, 0, null, 1, character.totalLevel4Slots) }}
                                {{ inputs.number("Expended Level 4 Spell Slots", "fields[expendedLevel4Slots]", false, null, 0, null, 1, character.expendedLevel4Slots) }}
                            </div>

                            {% set level4Spells = character.level4Spells|json_decode() %}
                            <spell-component id="level-4-spellbook" eager-load-css="spell-component" web-component loading="eager">
                                <line-items>
                                    {% for spell in level4Spells %}
                                        <div class="block w-full mb-1">
                                            <input type="text" value="{{ spell }}">
                                            <button type="button" class="close">
                                                <svg style="width:12px;height:12px;" aria-hidden="true" focusable="false" data-prefix="far" data-icon="times" class="svg-inline--fa fa-times fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M207.6 256l107.72-107.72c6.23-6.23 6.23-16.34 0-22.58l-25.03-25.03c-6.23-6.23-16.34-6.23-22.58 0L160 208.4 52.28 100.68c-6.23-6.23-16.34-6.23-22.58 0L4.68 125.7c-6.23 6.23-6.23 16.34 0 22.58L112.4 256 4.68 363.72c-6.23 6.23-6.23 16.34 0 22.58l25.03 25.03c6.23 6.23 16.34 6.23 22.58 0L160 303.6l107.72 107.72c6.23 6.23 16.34 6.23 22.58 0l25.03-25.03c6.23-6.23 6.23-16.34 0-22.58L207.6 256z"></path></svg>
                                            </button>
                                        </div>
                                    {% endfor %}
                                </line-items>
                                <button class="add-spell" type="button">
                                    <i>
                                        <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="plus" class="svg-inline--fa fa-plus fa-w-12" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="currentColor" d="M368 224H224V80c0-8.84-7.16-16-16-16h-32c-8.84 0-16 7.16-16 16v144H16c-8.84 0-16 7.16-16 16v32c0 8.84 7.16 16 16 16h144v144c0 8.84 7.16 16 16 16h32c8.84 0 16-7.16 16-16V288h144c8.84 0 16-7.16 16-16v-32c0-8.84-7.16-16-16-16z"></path></svg>
                                    </i>
                                    <span>Add Level 4 Spell</span>
                                </button>
                            </spell-component>
                        </spellbook-page>
                        <spellbook-page style="display: none;">

                            <div class="w-full mb-2" grid="columns 2 gap-2">
                                {{ inputs.number("Total Level 5 Spell Slots", "fields[totalLevel5Slots]", false, null, 0, null, 1, character.totalLevel5Slots) }}
                                {{ inputs.number("Expended Level 5 Spell Slots", "fields[expendedLevel5Slots]", false, null, 0, null, 1, character.expendedLevel5Slots) }}
                            </div>

                            {% set level5Spells = character.level5Spells|json_decode() %}
                            <spell-component id="level-5-spellbook" eager-load-css="spell-component" web-component loading="eager">
                                <line-items>
                                    {% for spell in level5Spells %}
                                        <div class="block w-full mb-1">
                                            <input type="text" value="{{ spell }}">
                                            <button type="button" class="close">
                                                <svg style="width:12px;height:12px;" aria-hidden="true" focusable="false" data-prefix="far" data-icon="times" class="svg-inline--fa fa-times fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M207.6 256l107.72-107.72c6.23-6.23 6.23-16.34 0-22.58l-25.03-25.03c-6.23-6.23-16.34-6.23-22.58 0L160 208.4 52.28 100.68c-6.23-6.23-16.34-6.23-22.58 0L4.68 125.7c-6.23 6.23-6.23 16.34 0 22.58L112.4 256 4.68 363.72c-6.23 6.23-6.23 16.34 0 22.58l25.03 25.03c6.23 6.23 16.34 6.23 22.58 0L160 303.6l107.72 107.72c6.23 6.23 16.34 6.23 22.58 0l25.03-25.03c6.23-6.23 6.23-16.34 0-22.58L207.6 256z"></path></svg>
                                            </button>
                                        </div>
                                    {% endfor %}
                                </line-items>
                                <button class="add-spell" type="button">
                                    <i>
                                        <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="plus" class="svg-inline--fa fa-plus fa-w-12" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="currentColor" d="M368 224H224V80c0-8.84-7.16-16-16-16h-32c-8.84 0-16 7.16-16 16v144H16c-8.84 0-16 7.16-16 16v32c0 8.84 7.16 16 16 16h144v144c0 8.84 7.16 16 16 16h32c8.84 0 16-7.16 16-16V288h144c8.84 0 16-7.16 16-16v-32c0-8.84-7.16-16-16-16z"></path></svg>
                                    </i>
                                    <span>Add Level 5 Spell</span>
                                </button>
                            </spell-component>
                        </spellbook-page>
                        <spellbook-page style="display: none;">

                            <div class="w-full mb-2" grid="columns 2 gap-2">
                                {{ inputs.number("Total Level 6 Spell Slots", "fields[totalLevel6Slots]", false, null, 0, null, 1, character.totalLevel6Slots) }}
                                {{ inputs.number("Expended Level 6 Spell Slots", "fields[expendedLevel6Slots]", false, null, 0, null, 1, character.expendedLevel6Slots) }}
                            </div>

                            {% set level6Spells = character.level6Spells|json_decode() %}
                            <spell-component id="level-6-spellbook" eager-load-css="spell-component" web-component loading="eager">
                                <line-items>
                                    {% for spell in level6Spells %}
                                        <div class="block w-full mb-1">
                                            <input type="text" value="{{ spell }}">
                                            <button type="button" class="close">
                                                <svg style="width:12px;height:12px;" aria-hidden="true" focusable="false" data-prefix="far" data-icon="times" class="svg-inline--fa fa-times fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M207.6 256l107.72-107.72c6.23-6.23 6.23-16.34 0-22.58l-25.03-25.03c-6.23-6.23-16.34-6.23-22.58 0L160 208.4 52.28 100.68c-6.23-6.23-16.34-6.23-22.58 0L4.68 125.7c-6.23 6.23-6.23 16.34 0 22.58L112.4 256 4.68 363.72c-6.23 6.23-6.23 16.34 0 22.58l25.03 25.03c6.23 6.23 16.34 6.23 22.58 0L160 303.6l107.72 107.72c6.23 6.23 16.34 6.23 22.58 0l25.03-25.03c6.23-6.23 6.23-16.34 0-22.58L207.6 256z"></path></svg>
                                            </button>
                                        </div>
                                    {% endfor %}
                                </line-items>
                                <button class="add-spell" type="button">
                                    <i>
                                        <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="plus" class="svg-inline--fa fa-plus fa-w-12" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="currentColor" d="M368 224H224V80c0-8.84-7.16-16-16-16h-32c-8.84 0-16 7.16-16 16v144H16c-8.84 0-16 7.16-16 16v32c0 8.84 7.16 16 16 16h144v144c0 8.84 7.16 16 16 16h32c8.84 0 16-7.16 16-16V288h144c8.84 0 16-7.16 16-16v-32c0-8.84-7.16-16-16-16z"></path></svg>
                                    </i>
                                    <span>Add Level 6 Spell</span>
                                </button>
                            </spell-component>
                        </spellbook-page>
                        <spellbook-page style="display: none;">

                            <div class="w-full mb-2" grid="columns 2 gap-2">
                                {{ inputs.number("Total Level 7 Spell Slots", "fields[totalLevel7Slots]", false, null, 0, null, 1, character.totalLevel7Slots) }}
                                {{ inputs.number("Expended Level 7 Spell Slots", "fields[expendedLevel7Slots]", false, null, 0, null, 1, character.expendedLevel7Slots) }}
                            </div>

                            {% set level7Spells = character.level7Spells|json_decode() %}
                            <spell-component id="level-7-spellbook" eager-load-css="spell-component" web-component loading="eager">
                                <line-items>
                                    {% for spell in level7Spells %}
                                        <div class="block w-full mb-1">
                                            <input type="text" value="{{ spell }}">
                                            <button type="button" class="close">
                                                <svg style="width:12px;height:12px;" aria-hidden="true" focusable="false" data-prefix="far" data-icon="times" class="svg-inline--fa fa-times fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M207.6 256l107.72-107.72c6.23-6.23 6.23-16.34 0-22.58l-25.03-25.03c-6.23-6.23-16.34-6.23-22.58 0L160 208.4 52.28 100.68c-6.23-6.23-16.34-6.23-22.58 0L4.68 125.7c-6.23 6.23-6.23 16.34 0 22.58L112.4 256 4.68 363.72c-6.23 6.23-6.23 16.34 0 22.58l25.03 25.03c6.23 6.23 16.34 6.23 22.58 0L160 303.6l107.72 107.72c6.23 6.23 16.34 6.23 22.58 0l25.03-25.03c6.23-6.23 6.23-16.34 0-22.58L207.6 256z"></path></svg>
                                            </button>
                                        </div>
                                    {% endfor %}
                                </line-items>
                                <button class="add-spell" type="button">
                                    <i>
                                        <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="plus" class="svg-inline--fa fa-plus fa-w-12" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="currentColor" d="M368 224H224V80c0-8.84-7.16-16-16-16h-32c-8.84 0-16 7.16-16 16v144H16c-8.84 0-16 7.16-16 16v32c0 8.84 7.16 16 16 16h144v144c0 8.84 7.16 16 16 16h32c8.84 0 16-7.16 16-16V288h144c8.84 0 16-7.16 16-16v-32c0-8.84-7.16-16-16-16z"></path></svg>
                                    </i>
                                    <span>Add Level 7 Spell</span>
                                </button>
                            </spell-component>
                        </spellbook-page>
                        <spellbook-page style="display: none;">

                            <div class="w-full mb-2" grid="columns 2 gap-2">
                                {{ inputs.number("Total Level 8 Spell Slots", "fields[totalLevel8Slots]", false, null, 0, null, 1, character.totalLevel8Slots) }}
                                {{ inputs.number("Expended Level 8 Spell Slots", "fields[expendedLevel8Slots]", false, null, 0, null, 1, character.expendedLevel8Slots) }}
                            </div>
                            
                            {% set level8Spells = character.level8Spells|json_decode() %}
                            <spell-component id="level-8-spellbook" eager-load-css="spell-component" web-component loading="eager">
                                <line-items>
                                    {% for spell in level8Spells %}
                                        <div class="block w-full mb-1">
                                            <input type="text" value="{{ spell }}">
                                            <button type="button" class="close">
                                                <svg style="width:12px;height:12px;" aria-hidden="true" focusable="false" data-prefix="far" data-icon="times" class="svg-inline--fa fa-times fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M207.6 256l107.72-107.72c6.23-6.23 6.23-16.34 0-22.58l-25.03-25.03c-6.23-6.23-16.34-6.23-22.58 0L160 208.4 52.28 100.68c-6.23-6.23-16.34-6.23-22.58 0L4.68 125.7c-6.23 6.23-6.23 16.34 0 22.58L112.4 256 4.68 363.72c-6.23 6.23-6.23 16.34 0 22.58l25.03 25.03c6.23 6.23 16.34 6.23 22.58 0L160 303.6l107.72 107.72c6.23 6.23 16.34 6.23 22.58 0l25.03-25.03c6.23-6.23 6.23-16.34 0-22.58L207.6 256z"></path></svg>
                                            </button>
                                        </div>
                                    {% endfor %}
                                </line-items>
                                <button class="add-spell" type="button">
                                    <i>
                                        <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="plus" class="svg-inline--fa fa-plus fa-w-12" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="currentColor" d="M368 224H224V80c0-8.84-7.16-16-16-16h-32c-8.84 0-16 7.16-16 16v144H16c-8.84 0-16 7.16-16 16v32c0 8.84 7.16 16 16 16h144v144c0 8.84 7.16 16 16 16h32c8.84 0 16-7.16 16-16V288h144c8.84 0 16-7.16 16-16v-32c0-8.84-7.16-16-16-16z"></path></svg>
                                    </i>
                                    <span>Add Level 8 Spell</span>
                                </button>
                            </spell-component>
                        </spellbook-page>
                        <spellbook-page style="display: none;">

                            <div class="w-full mb-2" grid="columns 2 gap-2">
                                {{ inputs.number("Total Level 9 Spell Slots", "fields[totalLevel9Slots]", false, null, 0, null, 1, character.totalLevel9Slots) }}
                                {{ inputs.number("Expended Level 9 Spell Slots", "fields[expendedLevel9Slots]", false, null, 0, null, 1, character.expendedLevel9Slots) }}
                            </div>

                            {% set level9Spells = character.level9Spells|json_decode() %}
                            <spell-component id="level-9-spellbook" eager-load-css="spell-component" web-component loading="eager">
                                <line-items>
                                    {% for spell in level9Spells %}
                                        <div class="block w-full mb-1">
                                            <input type="text" value="{{ spell }}">
                                            <button type="button" class="close">
                                                <svg style="width:12px;height:12px;" aria-hidden="true" focusable="false" data-prefix="far" data-icon="times" class="svg-inline--fa fa-times fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M207.6 256l107.72-107.72c6.23-6.23 6.23-16.34 0-22.58l-25.03-25.03c-6.23-6.23-16.34-6.23-22.58 0L160 208.4 52.28 100.68c-6.23-6.23-16.34-6.23-22.58 0L4.68 125.7c-6.23 6.23-6.23 16.34 0 22.58L112.4 256 4.68 363.72c-6.23 6.23-6.23 16.34 0 22.58l25.03 25.03c6.23 6.23 16.34 6.23 22.58 0L160 303.6l107.72 107.72c6.23 6.23 16.34 6.23 22.58 0l25.03-25.03c6.23-6.23 6.23-16.34 0-22.58L207.6 256z"></path></svg>
                                            </button>
                                        </div>
                                    {% endfor %}
                                </line-items>
                                <button class="add-spell" type="button">
                                    <i>
                                        <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="plus" class="svg-inline--fa fa-plus fa-w-12" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="currentColor" d="M368 224H224V80c0-8.84-7.16-16-16-16h-32c-8.84 0-16 7.16-16 16v144H16c-8.84 0-16 7.16-16 16v32c0 8.84 7.16 16 16 16h144v144c0 8.84 7.16 16 16 16h32c8.84 0 16-7.16 16-16V288h144c8.84 0 16-7.16 16-16v-32c0-8.84-7.16-16-16-16z"></path></svg>
                                    </i>
                                    <span>Add Level 9 Spell</span>
                                </button>
                            </spell-component>
                        </spellbook-page>
                    </spellbook-component>
                </form-page>
            </form>
        </character-sheet>
    </article>
    {% if isAuthor %}
        <div class="w-full p-1 text-center fixed l-0 b-0" style="pointer-events: none;">
            <div class="mx-0.5 inline-block" id="dice-mounting-point"></div>
            <script src="{{ alias('@rootUrl')|trim('/') }}/preact/dice-roller.js"></script>
            <div class="mx-0.5 inline-block" id="initiation-mounting-point"></div>
            <script src="{{ alias('@rootUrl')|trim('/') }}/preact/initiation-order.js"></script>
        </div>
    {% endif %}
{% endblock %}