{% extends "_base/page" %}

{% set campaign = craft.entries({
    section: 'campaigns',
    uid: uid
}).one() %}

{% set players = craft.entries({
    section: 'characters',
    relatedTo: campaign
}).all() %}

{% set isGameMaster = false %}
{% if currentUser['id'] is defined and currentUser['id'] == campaign.authorId %}
    {% if not currentUser.isInGroup('gm') %}
        {% set isGameMaster = true %}
        {% set monsters = craft.entries({
            section: 'monsters',
            relatedTo: campaign
        }).all() %}
        
        {% set npcs = craft.entries({
            section: 'npcs',
            relatedTo: campaign
        }).all() %}
    {% endif %}
{% endif %}

{% block content %}
    <article style="width:100%;display: block;">
        <section style="width:100%;display: block;">
            <campaign-component {% if isGameMaster %}web-component data-campaign-uid="{{ campaign.uid }}"{% endif %} style="width: 768px;max-width: 100%;" class="block mx-auto">
                {% if isGameMaster %}
                    <div class="bg-white shadow-md block mx-auto p-2 mb-2" style="width:420px;max-width:100%;border-radius: 0.25rem;">
                        {% if npcs|length %}
                            <h3 class="block w-full mb-1 font-sm font-grey-700 font-bold text-center">NPCs<h3>
                            {% for npc in npcs %}
                                <a href="{{ siteUrl|trim('/') }}/npc/{{ npc.uid }}" class="block w-full b-1 b-solid b-grey-300 p-1 mb-2" style="border-radius: 0.25rem;">
                                    <span class=" block font-primary-700 font-medium">{{ npc.title }}</span>
                                </a>
                            {% endfor %}
                        {% else %}
                            <h3 class="block w-full mb-1 font-sm font-grey-700 text-center pb-1">This campaign does not currently have any NPCs.<h3>
                        {% endif %}
                        <div style="display: block;width: 100%;text-align: center;">
                            <a href="{{ siteUrl|trim('/') }}/new-npc?campaign={{ campaign.uid }}" class="button -solid -primary">Create NPC</a>
                        </div>
                    </div>
                    <div class="bg-white shadow-md block mx-auto p-2 mb-2" style="width:420px;max-width:100%;border-radius: 0.25rem;">
                        {% if monsters|length %}
                            <h3 class="block w-full mb-1 font-sm font-grey-700">Monsters<h3>
                            {% for monster in monsters %}
                                <a href="{{ siteUrl|trim('/') }}/monster/{{ monster.uid }}" class="block w-full b-1 b-solid b-grey-300 p-1 mb-2" style="border-radius: 0.25rem;">
                                    <span class=" block font-primary-700 font-medium">{{ monster.title }}</span>
                                </a>
                            {% endfor %}
                        {% else %}
                            <h3 class="block w-full mb-1 font-sm font-grey-700 text-center pb-1">This campaign does not have any custom monsters.<h3>
                        {% endif %}
                        <div style="display: block;width: 100%;text-align: center;">
                            <a href="{{ siteUrl|trim('/') }}/new-monster" class="button -solid -primary">Create Monster</a>
                        </div>
                    </div>
                {% endif %}
                <div class="bg-white shadow-md block mx-auto p-2 mb-2" style="width:420px;max-width:100%;border-radius: 0.25rem;">
                    {% if players|length %}
                        <h3 class="block w-full mb-1 font-sm font-grey-700 font-bold text-center">Players<h3>
                        {% for player in players %}
                            <a href="{{ siteUrl|trim('/') }}/character/{{ player.uid }}" class="block w-full b-1 b-solid b-grey-300 p-1 mb-2" style="border-radius: 0.25rem;">
                                <span class=" block font-primary-700 font-medium">{{ player.title }}</span>
                            </a>
                        {% endfor %}
                    {% else %}
                        <h3 class="block w-full mb-1 font-sm font-grey-700 text-center pb-1">This campaign does not have any players.<h3>
                    {% endif %}
                </div>
            </campaign-component>
        </section>
    </article>
    {% if isGameMaster %}
        <div id="dice-mounting-point"></div>
        <script src="{{ alias('@rootUrl')|trim('/') }}/preact/dice-roller.js"></script>
    {% endif %}
{% endblock %}