{% set navLinks = craft.entries({
    section: 'headerNavigation',
    level: 1,
    with: [
        'descendants'
    ]
}).all() %}
{% set utilityLinks = craft.entries({
    section: 'utilityNavigaiton'
}).all() %}
{% cache %}
    <header eager-load-css="header" class="-base">
        {% if utilityLinks|length %}
            <div class="utility-nav">
                <nav class="container">
                    {% for link in utilityLinks %}
                        <a href="{{ link.url }}">{{ link.title }}</a>
                    {% endfor %}
                </nav>
            </div>
        {% endif %}
        <div class="primary-nav">
            <div class="container">
            <a class="org-logo" href="{{ siteUrl }}">
                {% set orgLogo = organizationSettings.logo[0] ?? null %}
                {% if orgLogo %}
                    <img src="{{ orgLogo.url }}" alt="{{ organizationSettings.organizationName }}" />
                {% elseif organizationSettings.organizationName|length %}
                    {{ organizationSettings.organizationName }}
                {% else %}
                    <span eager-load-css="background-colors font-colors flexbox paddings font-sizes" flex="items-center" padding="x-0.5" class="font-danger-700 font-sm bg-danger-100" style="height: 36px;">{{ "Logo Missing"|t }}</span>
                {% endif %}
            </a>
            <nav>
                {% set count = 0 %}
                {% for link in navLinks %}
                    {% set count = count + 1 %}
                    {% if count <= 5 %}
                        {% if link.hasDescendants %}
                            <dropdown-link>
                                <button>
                                    {{ link.title }}
                                </button>
                                <dropdown-list>
                                    {% for sublink in link.descendants %}
                                        <a href="{{ sublink.url }}">{{ sublink.title }}</a>
                                    {% endfor %}
                                </dropdown-list>
                            </dropdown-link>
                        {% else %}
                            <a class="-primary-link" href="{{ link.url }}">{{ link.title }}</a>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                <navigation-drawer-toggle role="button" web-component class="{{ navLinks|length > 5 ? 'is-visible' }}">
                    <input tabindex="0" id="navigation-drawer-toggle" type="checkbox" />
                    <label aria-label="open navigaiton drawer" for="navigation-drawer-toggle">
                        <svg style="width:24px;height:24px;" aria-hidden="true" focusable="false" data-prefix="fal" data-icon="bars" class="svg-inline--fa fa-bars fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M442 114H6a6 6 0 0 1-6-6V84a6 6 0 0 1 6-6h436a6 6 0 0 1 6 6v24a6 6 0 0 1-6 6zm0 160H6a6 6 0 0 1-6-6v-24a6 6 0 0 1 6-6h436a6 6 0 0 1 6 6v24a6 6 0 0 1-6 6zm0 160H6a6 6 0 0 1-6-6v-24a6 6 0 0 1 6-6h436a6 6 0 0 1 6 6v24a6 6 0 0 1-6 6z"></path></svg>
                    </label>
                </navigation-drawer-toggle>
            </nav>
            </div>
        </div>
    </header>
    <navigation-drawer loading="eager" web-component state="closed" eager-load-css="navigation-drawer">
        <div class="head">
            <a class="org-logo" href="{{ siteUrl }}">
                {% set orgLogo = organizationSettings.logo[0] ?? null %}
                {% if orgLogo %}
                    <img src="{{ orgLogo.url }}" alt="{{ organizationSettings.organizationName }}" />
                {% elseif organizationSettings.organizationName|length %}
                    {{ organizationSettings.organizationName }}
                {% else %}
                    <span eager-load-css="background-colors font-colors flexbox paddings font-sizes" flex="items-center" padding="x-0.5" class="font-danger-700 font-sm bg-danger-100" style="height: 36px;">{{ "Logo Missing"|t }}</span>
                {% endif %}
            </a>
            <button aria-label="close navigation drawer">
                <svg style="width:14px;height:14px;" aria-hidden="true" focusable="false" data-prefix="fal" data-icon="times" class="svg-inline--fa fa-times fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M193.94 256L296.5 153.44l21.15-21.15c3.12-3.12 3.12-8.19 0-11.31l-22.63-22.63c-3.12-3.12-8.19-3.12-11.31 0L160 222.06 36.29 98.34c-3.12-3.12-8.19-3.12-11.31 0L2.34 120.97c-3.12 3.12-3.12 8.19 0 11.31L126.06 256 2.34 379.71c-3.12 3.12-3.12 8.19 0 11.31l22.63 22.63c3.12 3.12 8.19 3.12 11.31 0L160 289.94 262.56 392.5l21.15 21.15c3.12 3.12 8.19 3.12 11.31 0l22.63-22.63c3.12-3.12 3.12-8.19 0-11.31L193.94 256z"></path></svg>
            </button>
        </div>
        <nav>
            {% for link in navLinks %}
                {% if link.hasDescendants %}
                    <dropdown-link>
                        <input tabindex="0" type="checkbox" id="dropdown-{{ loop.index }}" />
                        <label for="dropdown-{{ loop.index }}">
                            <span>{{ link.title }}</span>
                            <i>
                                <svg style="width:14px;height:14px;" aria-hidden="true" focusable="false" data-prefix="fal" data-icon="plus" class="svg-inline--fa fa-plus fa-w-12" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="currentColor" d="M376 232H216V72c0-4.42-3.58-8-8-8h-32c-4.42 0-8 3.58-8 8v160H8c-4.42 0-8 3.58-8 8v32c0 4.42 3.58 8 8 8h160v160c0 4.42 3.58 8 8 8h32c4.42 0 8-3.58 8-8V280h160c4.42 0 8-3.58 8-8v-32c0-4.42-3.58-8-8-8z"></path></svg>
                            </i>
                        </label>
                        <dropdown-list>
                            {% for sublink in link.descendants %}
                                <a href="{{ sublink.url }}">
                                    <span>{{ sublink.title }}</span>
                                </a>
                            {% endfor %}
                        </dropdown-list>
                    </dropdown-link>
                {% else %}
                    <a class="primary" href="{{ link.url }}">
                        <span>{{ link.title }}</span>
                    </a>
                {% endif %}
            {% endfor %}
            {% for link in utilityLinks %}
                <a class="primary" href="{{ link.url }}">
                    <span>{{ link.title }}</span>
                </a>
            {% endfor %}
        </nav>
    </navigation-drawer>
    <navigation-backdrop web-component></navigation-backdrop>
{% endcache %}